
<div class="container">
  
  <div class="row">
    <div class="col-md-8 style="background-color: #CAFFFF;padding-bottom: 40px;padding-top: 10px">
      <div style="font-size: 40px; padding-left: 10px">
        <%= image_tag "profile1.jpg" %>
      </div>
    </div>

    <div class="col-md-4">
      <h1>国科大选课系统</h1>
      <p>这个样本系统是基于国科大研究生课程(高级软件工程)开发的项目,目的是小组成员利用系统学习RoR(Ruby on Rails)</p>
      <p>新增加的主要功能有:</p>
      <ul>

        <li class="text-danger">
          收藏夹功能
        </li>
        <li class="text-danger">
          学生课表
        </li>
        <li class="text-danger">
          自定义管理员后台
        </li>
        <li class="text-danger">
          教师查询
        </li>
        <li class="text-danger">
          Excel格式的数据导入
        </li>
      </ul>

    </div>

  </div>

  <hr>

  

  <div class="row">
    <div class="col-md-4">
      <h2>学校简介</h2>
      <p>中国科学院大学（英文名 ：University of Chinese Academy of Sciences），简称"国科大"，是国家教育部批准成立的一所以研究生教育为主的科教融合、独具特色的高等学校。国科大的前身是中国科学院研究生院，成立于1978年，是经党中央国务院批准创办的新中国第一所研究生院，培养了我国第一个理学博士、第一个工学博士、第一个女博士、第一个双学位博士。
</p>
      
    </div>

    <div class="col-md-4">
      <h2>学科优势</h2>
      <p>国科大拥有独具优势和门类齐全的学科体系。在理学的数学、物理、化学、天文学、地学、生物学，以及工学的力学、材料、能源、电子与通信、自动控制、计算机等专业领域，具有明显的学科优势。在保持自然科学基础学科优势的同时，近年来还不断加强应用学科、新兴交叉学科以及人文、社会科学学科的建设。国科大拥有完备的学科体系,共有博士学位授权一级学科点40个，分布在哲学、教育学、理学、工学、农学、医学、管理学7个学科门类；硕士学位授权一级学科54个，分布在哲学、经济学、法学、教育学、文学、理学、工学、农学、医学、管理学10个学科门类，覆盖了55个一级学科。
      </p>
      
    </div>

    <div class="col-md-4">
      <h2>办学理念</h2>
      <p>国科大拥有浓厚的育人文化氛围。秉承中国科学院“科学、民主、爱国、奉献”的传统和“唯实、求真、协力、创新”的院风，国科大不仅注重培养学生具备扎实的知识基础和科研能力，更注重培养学生勇于创新的科学精神、求真务实的科研品格、敢于担当的社会责任感。国科大通过课程教学、学者报告、科研训练（实践）、社会实践、校园活动等多种方式，促进学生的全面发展。此外，学校还不断组织各种丰富多彩的文体活动，努力营造活跃的校园文化氛围。
　　面向未来，国科大将秉持“科教融合、育人为本、协同创新、服务国家”的办学理念，践行“博学笃志，格物明德”的校训，为建设创新型国家培养高素质创新创业人才而不懈奋斗。</p>
    
    </div>
  </div>
</div>

